{% extends "base.html" %} {% block title%}login{% endblock %} 
{% load static %}

{% block additional-head %}
<link
    href="{% static "css/otp.css" %}"
    rel="stylesheet"
    />

<link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
    />
<script src="{% static "js/otp.js" %}" defer></script>
{% endblock %}

{% block content %}
<div class="auth-container">
  <div class="col-10 col-md-7 col-lg-5">
    <center>
      <h3>OTP Code Verification</h3>
    </center>
    <div class="otp-container">
      <header>
        <i class="bx bxs-check-shield"></i>
      </header>
      <h4>Enter OTP Code</h4>
      <small>sent to noa***@gmail.com</small>
      <form class="otp-form" action="#">
        <div class="otp-input-field">
          <input type="number" />
          <input type="number" disabled />
          <input type="number" disabled />
          <input type="number" disabled />
          <input type="number" disabled />
          <input type="number" disabled />
        </div>
        <button>Verify OTP</button>
        <span>Didn't get code <a href="#">Resend</a></span>
      </form>
    </div>
  </div>
</div>
{% endblock %}
